@use './colors' as *;

%font-family1 {
    font-family: inter, sans-serif;
}

%font-family2 {
    font-family: 'Space Grotesk', sans-serif;
}

%font-color-light {
    color: $color-light;
}

%font-color-medium {
    color: $dark-50;
}

%bg-color-dark1 {
    background-color: $dark-10;
}

%bg-color-dark2 {
    background-color: $dark-20;
}


