@use './colors' as colors;

%font-family1 {
    font-family: inter, sans-serif;
}

%font-family2 {
    font-family: 'Space Grotesk', sans-serif;
}

%font-color-light {
    color: colors.$color-light;
}

%font-color-medium {
    color: colors.$dark-50;
}

%bg-color-dark1 {
    background-color: colors.$dark-10;
}

%bg-color-dark2 {
    background-color: colors.$dark-20;
}


