%font-family1 {
    font-family: inter, sans-serif;
}

%font-family2 {
    font-family: 'Space Grotesk', sans-serif;
}

%font-color-light {
    color: $color-light;
}

%font-color-medium {
    color: $dark-50;
}