h1 {
    @extend %font-family1;
    @extend %font-color-light;
    font-size: clamp(2.4rem, 6vw, 4rem);
    span {
        font-size: inherit;
    }
}

h2 {
    @extend %font-family1;
    @extend %font-color-light;
    font-size: clamp(2rem, 4vw, 2.4rem);
}

p {
    @extend %font-family2;
    @extend %font-color-medium;
    font-size: clamp(1.4rem, 2.5vw, 2rem);
    
}

input {
    @extend %font-family1;
    font-size: clamp(1.6rem, 2.5vw, 2rem);
    font-weight: 500;  
    
}

input::placeholder {
    @extend %font-color-medium; 
}

span {
    @extend %font-family2;
    color: $brand-color;
    font-size: clamp(1.2rem, 1.5vw, 1.6rem);
}

