@use '../mixins/mixins' as mixin;

.container {
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    padding: 2rem 1rem;
}

header .container {
    @include mixin.flex($direction: column, $align: center, $gap: 2rem);
}