@use '../patterns/patterns' as pattern;

header {
    @extend %bg-color-dark1;
    padding: 2rem 0;
    input {
        width: 100%;
        background-color: pattern.$dark-30;
        border-radius: .8rem;
        border: .2rem solid pattern.$dark-40;
        padding: 1rem 2.4rem;
        color: pattern.$color-light;
    }
}