@use '../mixins/mixins' as *;
@use '../patterns/patterns' as *;


main {
    @extend %bg-color-dark2;
    .s-posts {
        padding: 8rem 0;
        .container {
            @include flex($direction: column, $gap: 4rem);
        }
        @include media-query('md') {
            padding: 7.2rem 0;
        }
        @include media-query('sm') {
            padding: 4rem 0;
        }
    }
    
}